/* Reset Css */

*{
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'robotobold';
    src: url('webfontkit/roboto-bold-webfont.woff2') format('woff2'),
         url('webfontkit/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('webfontkit/roboto-regular-webfont.woff2') format('woff2'),
         url('webfontkit/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('webfontkit/roboto-thin-webfont.woff2') format('woff2'),
         url('webfontkit/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'shrikhandregular';
    src: url('webfontkit/shrikhand-regular-webfont.woff2') format('woff2'),
         url('webfontkit/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Header */

.icone-header{
   position: relative;
   top: 20px;
   margin-left: 20px;
   font-size: 1.5em;
}

#block-header{
    padding: 10px;
    height: 35px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.img-header{
    object-fit: cover;
}

/* Section image */

.img-section{
    width: 100%;
}

/* Section */

#containeur{
    width: 100%;
    height: 1200px;
    background-color: #f2f2f2;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    bottom: 60px;
}

/* partie titre */


.containeur-titre{
    display: flex;
    justify-content: space-between;
    font-family: 'shrikhandregular';
    font-size: 1.5em;
}

.titre{
    margin-top: 40px;
    margin-left: 20px;
}

.icone-containeur{
    margin-top: 40px;
    margin-right: 30px;
    font-size: 1.1em;
}

/* partie carte */


.containeur__carte{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.containeur__carte-titre{
    margin-right: 350px;
    font-family: 'robotothin';
    font-size: 1.2em;
   
}

.carte{
    width: 90%;
    height: 70px;
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
}

.carte__liste{
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'robotoregular';
}

.carte__liste-2{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-family: 'robotothin';
}

.euro{
    margin-right: 15px;
}

.bouton{
    padding: 15px;
    margin-top: 50px;
    margin-left: 150px;
    width: 30%;
    text-align: center;
    background-image: linear-gradient(to bottom , #FF79DA , #9356DC );
    color: white;
    border-radius: 20px;
}


/* footer */

.footer{
    height: 230px;
    background-color: black;
    color: white;
    margin-top: -60px;
}

.footer-title{
    position: relative;
    top: 20px;
    left: 25px;
    font-family: 'shrikhandregular';
}


.list-footer{
    margin-top: 50px;
    margin-left: 30px;
}

.text-footer{
    margin-left: 15px;
}

.ligne-1{
    display: flex;
    margin-top: 10px;
    font-family: 'robotoregular';
}

.ligne-2{
    display: flex;
    margin-top: 10px;
    margin-left: -5px;
    font-family: 'robotoregular';
   
}

.ligne-3{
    margin-top: 10px;
    font-family: 'robotoregular';
}