@charset "UTF-8";
/* Reset Css */
* {
  margin: 0;
  padding: 0;
}

/* Fin du reset Css */
/* Début de la partie font */
@font-face {
  font-family: 'robotobold';
  src: url("webfontkit/roboto-bold-webfont.woff2") format("woff2"), url("webfontkit/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("webfontkit/roboto-regular-webfont.woff2") format("woff2"), url("webfontkit/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("webfontkit/roboto-thin-webfont.woff2") format("woff2"), url("webfontkit/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhandregular';
  src: url("webfontkit/shrikhand-regular-webfont.woff2") format("woff2"), url("webfontkit/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Fin de la partie Font */
/* Header */
a {
  color: black;
}

.header-icone {
  position: relative;
  top: 20px;
  margin-left: 20px;
  font-size: 1.5em;
}

#header-block {
  padding: 10px;
  height: 35px;
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}

#header-block .header-image {
  -o-object-fit: cover;
     object-fit: cover;
}

/* Fin du header */
/* Section image */
.img-section {
  width: 100%;
}

/* Fin de la section image */
/* Grand block-section gris */
#containeur {
  width: 100%;
  height: 1200px;
  background-color: #f2f2f2;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  bottom: 60px;
}

#containeur .containeur-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'shrikhandregular';
  font-size: 1.5em;
}

#containeur .containeur-titre .containeur--titre {
  margin-top: 40px;
  margin-left: 20px;
}

#containeur .containeur-titre .containeur--icone {
  margin-top: 40px;
  margin-right: 30px;
  font-size: 1.1em;
}

#containeur .containeur-titre .containeur--icone:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#containeur .containeur-titre .containeur--icone::before {
  -webkit-transition: 2s;
  transition: 2s;
}

/* Fin du Grand block-section gris */
/* partie carte */
.containeur-carte__titre {
  width: 100%;
  font-family: 'robotothin';
  font-size: 1.2em;
}

.containeur-carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.containeur-carte .carte {
  width: 90%;
  height: 70px;
  margin-top: 15px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.2);
}

.containeur-carte .carte-2 {
  width: 90%;
  height: 70px;
  margin-top: 15px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.2);
}

.containeur-carte .carte-3 {
  width: 90%;
  height: 70px;
  margin-top: 15px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.2);
}

.containeur-carte .carte__liste {
  margin-top: 10px;
  margin-left: 15px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'robotoregular';
}

.containeur-carte .carte__liste-2 {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: 'robotothin';
  flex-wrap: nowrap;
}

.containeur-bouton {
  padding: 15px;
  margin-top: 50px;
  margin-left: 32%;
  width: 30%;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  border-radius: 20px;
}

.containeur-bouton:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  opacity: 0.7;
}

.carte-euro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 25px;
  height: 70px;
  margin-right: 20px;
  margin-top: -5px;
  padding-left: 20px;
  padding-right: 20px;
}

.carte__animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -40px;
  overflow: hidden;
}

.animation {
  width: 50px;
  height: 70px;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.carte--icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50%;
  font-size: 20px;
  color: white;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.carte:hover .animation {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.carte:hover .carte--icone {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.carte-2:hover .animation {
  margin: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.carte-2:hover .carte--icone {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.carte-3:hover .animation {
  margin: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.carte-3:hover .carte--icone {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Fin de la partie carte */
/* footer */
.footer-title {
  position: relative;
  top: 20px;
  left: 30px;
  font-family: 'shrikhandregular';
}

.footer {
  height: 230px;
  background-color: black;
  color: white;
  margin-top: -60px;
}

.footer .list-footer {
  margin-left: 20px;
  margin-top: 30px;
}

.footer .list-footer .list-footer__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  font-family: 'robotoregular';
}

.footer .list-footer .list-footer__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-left: -5px;
  font-family: 'robotoregular';
}

.footer .list-footer .list-footer__3 {
  margin-top: 10px;
  font-family: 'robotoregular';
}

.footer-text {
  margin-left: 15px;
}

/* Fin du footer */
@media screen and (min-width: 768px) {
  h3 {
    width: 100%;
    margin-left: 30px;
  }
  .containeur-carte .carte {
    width: 30%;
  }
  #containeur {
    height: 700px;
  }
}
/*# sourceMappingURL=A_la_francaise.css.map */