/* Début de la partie Reset */

*{
    padding: 0;
    margin: 0;
}


/* Fin de la partie Reset */

/* Début de la Police */


@font-face {
    font-family: 'robotobold';
    src: url('webfontkit/roboto-bold-webfont.woff2') format('woff2'),
         url('webfontkit/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('webfontkit/roboto-regular-webfont.woff2') format('woff2'),
         url('webfontkit/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('webfontkit/roboto-thin-webfont.woff2') format('woff2'),
         url('webfontkit/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'shrikhandregular';
    src: url('webfontkit/shrikhand-regular-webfont.woff2') format('woff2'),
         url('webfontkit/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Fin de la Police */


/* Début de la partie header */

header{
    height: 65px;
    box-shadow: 5px 1px 5px rgba(0,0,0,0.2);
    .block-header__img{
        display: flex;
        height: 70px;
        justify-content: center;
        align-items: center;
        .block-header__img--food{
            width: 200px;
            object-fit: cover;
        }
    }
    
}


/* Fin de la partie header */

/* Début de la partie localisation */


#localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: px;
    background-color: #5e585846;
    
}

form{
    display: flex;
}

i{
    margin-right: 15px;
}

input{
    border: none;
    border-style: none;
    background-color: transparent;
    color: black;
}


/* Fin de la partie localisation */

/* Début du Block-text */


#block-text{
    width: 100%;
    height: 250px;
    background-color: #f2f2f2;
    .block-text__titre{
        display: flex;
        justify-content: center;
        .block-text__titre--h3{
            margin-top: 30px;
            font-size: 1.5em;
            font-family: 'robotobold';
        }
    }

    .block-text__text{
        margin-top: 10px;
        font-size: 1em;
        display: flex;
        justify-content: center;
        font-family: 'robotothin';
    }
    .block-text__bouton{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'robotothin';
        .block-text__bouton--degrader{
            margin-top: 30px;
            padding: 10px;
            display: flex;
            justify-content: center;
            text-align: center;
            background-image: linear-gradient(to bottom , #FF79DA , #9356DC );
            color: white;
            border-radius: 20px;
            width: 50%;
            font-family: 'robotoregular';
        }
        
        .block-text__bouton--degrader:hover{
            transform: scale(1.2);
            transition-property: transform;
            transition-duration: 1000ms;
            opacity: 0.7;
          
        }
    }
}


/* Fin du Block-text */

/* Début du Block fonctionnement */

@mixin  fonctionnement {
    padding: 25px;
    margin-top: 20px;
    text-align: center;
    width: 80%;
    background-color: #f2f2f2;
    border-radius: 20px;
    font-family: 'robotoregular';
}


.fonctionnement__title{
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'robotobold';

}

#fonctionnement{
    margin-top: 40px;

    .fonctionnement__conteneur{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .fonctionnement__list{
            @include fonctionnement()
       }
        .fonctionnement__list--numero{
            width: 30px;
            height: 30px;
            display: block;
            background-color: #9356DC;
            margin-left: -37px;
            margin-bottom: -30px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'robotoregular';
            color: white;
           
        }
        .fonctionnement__list--div{
            display: flex;
            justify-content: space-around;
            .fonctionnement__list--icone{
                color: gray;
                font-size: 1.2em;
                
            }
            
            .fonctionnement__list--text{
               margin-right: 70px;
         
            }
        
        }
                
    }
}


/* Fin du Block fonctionnement */

/* Début de la partie Restaurant */


a{
    color: black;
    text-decoration: none;
}

#block-restaurant{
    margin-top: 50px;
    background-color: #f2f2f2;
    .block-restaurant__title{
        position: relative;
        top: 40px;
        margin-left: 20px;
    }

    #block-restaurant__containeur{
        width: 100%;
        height: 1200px;
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .block-restaurant__box{
            position: relative;
            width: 90%;
            height: 200px;
        }
        .img{
            width: 100%;
            height: 200px;
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
        }
        .block-restaurant__div-text{
            display: flex;
            justify-content: space-between;
            padding: 15px;
            background-color: white;
            margin-top: -5px;
            border-radius: 0px 0px 20px 20px;
            .div-text__1--1{
                font-family: 'robotoregular';
            }
            
            
            .div-text__2--2{
                margin-top: 5px;
                font-family: 'robotothin';
            }
            
            .block-restaurant--icone{
                font-size: 1.5em;
                color: whitesmoke;
                
            }
            
            
            .block-restaurant--nouveau{
                position: absolute;
                margin-top: -200px;
                margin-left: 330px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                z-index: 200;
                background-color: #99E2D0;
                color: rgb(28, 130, 28);
                font-family: 'robotoregular';
            }
        }
    }
}


/* Fin de la partie restaurant */

/* Début du Footer */




.footer{
    margin-top: px;
    height: 230px;
    background-color: black;
    color: white;

    .footer_title{
        position: relative;
        top: 20px;
        left: 25px;
        font-family: 'shrikhandregular';
    }

    .footer_list{
        margin-top: 50px;
        margin-left: 30px;

        .footer_list--1{
            display: flex;
            margin-top: 10px;
            font-family: 'robotoregular';
        }
           
        
        .footer_list--2{
            display: flex;
            margin-top: 10px;
            margin-left: -5px;
            font-family: 'robotoregular';
           
        }
        
        .footer_list--3{
            margin-top: 10px;
            font-family: 'robotoregular';
        }
    }


}

/* Fin du Footer */

/* début des médiaQueries */
    



@media screen and ( min-width: 768px ){

    .fonctionnement__list{
        width: 30%;
        margin-left: 20px;
    }


    #block-restaurant__containeur{
        height: 700px;
    }

    .block-restaurant__box{
        width: 40%;
        margin-left: 25px;
    }
    
  
}

